<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cover</th>
      <th>Body</th>
      <th>Video</th>
      <th>Plot</th>
      <th>Category</th>
      <th>Visits count</th>
      <th>Admin</th>
      <th>State</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= image_tag article.cover.url(:thumb) %></td>
        <td><%= article.body %></td>
        <td><%= article.video %></td>
        <td><%= article.plot %></td>
        <td><%= article.category %></td>
        <td><%= article.visits_count %></td>
        <td><%= article.admin %></td>
        <td><%= article.state %></td>
        <td><%= article.slug %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
