<section id="pinBoot">
  <% @articles.each do |article| %>
    <article class="white-panel">
      <% if article.cover.present? %>
        <%= image_tag article.cover.url(:mini) %>
      <%else%>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= article.video %>" allowfullscreen></iframe>
        </div>
      <% end %>
        <h4><%= link_to article.name, article %></h4>
        <p><%= article.plot %></p>
    </article>
  <% end %>
</section>
<br>
<hr>
<%= link_to 'New Article', new_article_path %>


    