<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @article.cover.url(:mini) %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Video:</strong>
  <%= @article.video %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @article.plot %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Visits count:</strong>
  <%= @article.visits_count %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @article.admin %>
</p>

<p>
  <strong>State:</strong>
  <%= @article.state %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article.slug %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
