<ul class="sidebar-nav">
	<li class="sidebar-brand">
        <a href='<%= root_path %>'> 
        	<%= image_tag('logo.gif') %>
        </a>
    </li>
	<% if admin_signed_in? %>
		<li class="col-lg-6 col-md-6">
	    	<%= link_to "PERFIL", destroy_admin_session_path, :method => :delete %>
	    </li>
	    <li class="col-lg-6 col-md-6">
	    	<%= link_to "SALIR", destroy_admin_session_path, :method => :delete %>
	    </li>
    <% else %>
	    <li class="centrar">
	    	<%= link_to "INICIAR SESIÓN",  new_admin_session_path%>
	    </li>
    <% end %>
</ul>
<div class="sidebar-two col-lg-12 col-md-12 col-sm-12">
		<div class="contenedor-menu">
			<div class="square">
				<div class="contenido">
					<i class="fa fa-picture-o fa-2x"></i>
				</div>
			</div>
			<div class="square">
				<i class="fa fa-video-camera fa-2x"></i>
			</div>
			<div class="square">
				<i class="fa fa-book fa-2x"></i>
			</div>
			<div class="espacio">
			</div>
		</div>
</div>
<ul class="sidebar-three">
	<li>
        <a href="#">OVERVIEW</a>
    </li>
    <li>
        <a href="#">EVENTS</a>
    </li>
    <li>
        <a href="#">ABOUT</a>
    </li>
    <li>
        <a href="#">SERVICES</a>
    </li>
    <li>
        <a href="#">CONTACT</a>
    </li>
</ul>